/* Fondo de la imagen */
.bg-image {
    background: url("../images/12.jpg") no-repeat center top;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;     
   
    background-size: cover;
    
    
    
}

/* Header */
header {
    background: linear-gradient(to bottom, rgba(74, 144, 226, 0.9), rgba(64, 133, 197, 0.6), rgba(20, 202, 163, 0)); /* Degradado azul a transparente */
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 5px 15px;
    height: 86px; /* Define la altura fija */
    box-shadow: none; /* Elimina la sombra para evitar el corte */
}



header.scrolled {
    background: rgba(0, 0, 0, 0.8); /* Más visible al hacer scroll */
}



/* Título en la izquierda */
.header-title h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #FFFFFF; /* Blanco puro */
    text-shadow: 0 0 10px #4A90E2, 0 0 20px #50E3C2;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #4A90E2, 0 0 20px #50E3C2;
    }
    to {
        text-shadow: 0 0 20px #50E3C2, 0 0 40px #4A90E2;
    }
}


/* Menú Base */
.menu .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #FFFFFF; /* Blanco puro */
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.menu .nav-link:hover {
    color: #FFD700; /* Amarillo dorado al pasar el ratón */
    background: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
    border-radius: 5px;
    transform: scale(1.1); /* Efecto de crecimiento */
}


@keyframes glowEffect {
    0% {
        text-shadow: 0 0 5px #8ec5fc, 0 0 10px #e0c3fc;
    }
    100% {
        text-shadow: 0 0 15px #8ec5fc, 0 0 30px #e0c3fc;
    }
}

.header-title h1 {
    animation: glowEffect 1.5s infinite alternate;
}
