/* Fondo de la imagen */
.bg-image {
    background: url("../images/12.jpg") no-repeat center top;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
}

/* Header */
header {
    background: linear-gradient(to bottom, rgba(74, 144, 226, 0.9), rgba(64, 133, 197, 0.6), rgba(20, 202, 163, 0)); /* Degradado azul a transparente */
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 5px 15px;
    height: 96px; /* Define la altura fija */
    box-shadow: none; /* Elimina la sombra para evitar el corte */
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Separa los elementos */
}

header.scrolled {
    background: rgba(0, 0, 0, 0.8); /* Más visible al hacer scroll */
}

/* Centrar el título */
.header-title {
    position: absolute;
    left: 50%; /* Posiciona al 50% del ancho */
    transform: translateX(-50%); /* Ajusta para centrar */
    text-align: center;
}

.header-title h1 {
    font-family: "Press Start 2P", serif;
    font-size: 32px;
    color: #FFFFFF; /* Blanco puro */
    text-shadow: 0 0 10px #4A90E2, 0 0 20px #50E3C2;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #4A90E2, 0 0 20px #50E3C2;
    }
    to {
        text-shadow: 0 0 20px #50E3C2, 0 0 40px #4A90E2;
    }
}

/* Menú Base */
/* Contenedor para el menú */
.menu-wrapper {
    margin-left: auto; /* Empuja el menú al extremo derecho */
    position: absolute; /* Saca el menú del flujo normal */
    right: 50px; /* Alinea el menú al borde derecho con un margen */
    top: 50%; /* Alinea verticalmente en el centro */
    transform: translateY(-50%); /* Ajusta la posición vertical */

}

/* Menú */
.menu {
    display: flex;
    gap: 20px; /* Espacio entre enlaces */
}

.menu .nav-link {
    font-family: "Press Start 2P", serif;
    font-size: 14px;
    color: #6ef8b8;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.menu .nav-link:hover {
    color: #00e1ff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    transform: scale(1.1);
}


@keyframes glowEffect {
    0% {
        text-shadow: 0 0 5px #8ec5fc, 0 0 10px #8bec88;
    }
    100% {
        text-shadow: 0 0 15px #8ec5fc, 0 0 30px #8ff08c;
    }
}

.header-title h1 {
    animation: glowEffect 1.5s infinite alternate;
}
