{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Curriculum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
    <div class="container-fluid vh-100">
        <div class="row h-100">
          <!-- Columna izquierda: Contenido -->
          <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
            <h1>¡Hola! Soy Programador</h1>
            <p>Bienvenido a mi portafolio. Aquí puedes ver mis proyectos, habilidades y más.</p>
          </div>
      
          <!-- Columna derecha: Imagen -->
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static 'images/11.jpg' %}" alt="Imagen principal" class="img-fluid rounded">
          </div>
        </div>
      </div>
      
      
</body>

</html>
